h1 {
  text-align: center;
  font-family: "Monoton";
}
.contact-p {
  text-align: center;
}

.portfolio-image {
  max-width: 800px;
  max-height: 800px;
  min-width: 30vh;
  min-height: 30vh;
  height: 300px;
  border: black solid 1px;
}
.projects {
  text-align: center;
  padding-bottom: 40px;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: larger;
  background-image: url("./assets/images/sun.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nav-tabs {
  color: black;
}

.profPic {
  width: 475px;
  height: auto;
}
.home-container {
  align-content: center;
}

.footer-container {
  color: black;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.port-descript {
  margin-left: 25%;
  margin-right: 25%;
}
