

.portfolio-image {
    max-width: 800px; max-height: 800px;
    min-width: 30vh; min-height: 30vh;
    height: 300px;
    border: black solid 1px;
}
.projects{
    text-align: center;
    padding-bottom: 40px;
}
body{
    
    background-color: rgb(215, 222, 238);
    font-family: 'Tajawal', sans-serif;
}
.nav-tabs {
    color: black;
}

.profPic{
    
    width: 500px; 
    height: auto ;
    
}
.home-container{
    align-content: center;

}




